<div class="site-width-container">
  {{# if (size-gt 1 pagination) }}
    {{ my-pagination
      pagination=pagination
    }}
  {{/ if }}

  <ul class="streams">
    {{# each streams as |curStream| }}
      {{ a-stream
        tagName='li'
        m=curStream
      }}
    {{/ each }}
  </ul>
</div>
