body > .ember-view > footer {
  background-color: $primary-dark;
  color: $bg;

  @include res-aware-element-spacing('margin-top', 'xxl');

  a.github {
    display: inline-block;
    text-decoration: none;
  }

  a, .other-credits {
    &.hovered {
      color: white;
      opacity: 1;

      path {
        fill: white;
      }
    }
  }

  .author { @include res-aware-element-spacing('margin-left', 'lg'); }
  .other-credits {
    text-decoration: underline;
    @include res-aware-element-spacing('margin-left', 'lg');

    &:hover { cursor: pointer; }
  }

  .author
  , .other-credits {
    @include per-size(('height', 'line-height'), 84, 86, 116, 118, 118, 'px');
    @include res-aware-font-size-body('xs');

    display: inline-block;
    vertical-align: top;
    text-align: right;
  }

  .octicon {
    @include per-size('height', 60, 60, 90, 90, 90, 'px');
    @include res-aware-element-spacing(('margin-top', 'margin-bottom'), 'sm');

    vertical-align: top;

    path {
      fill: $bg;
    }
  }
}
