body {
  @include res-aware-font-size-body('base');

  background-color: $bg-light;
  color: $fg;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Maitree', serif;
}


h1 {
  @include res-aware-font-size-heading('xxl');
  @include res-aware-element-spacing('margin-bottom', 'sm');
}
h2 {
  @include res-aware-font-size-heading('xl');
  @include res-aware-element-spacing('margin-top', 'xl');
  @include res-aware-element-spacing('margin-bottom', 'xs');
}
h3 {
  @include res-aware-font-size-heading('lg');
}
h4 {
  @include res-aware-font-size-heading('md');
}

input, button {
  @include res-aware-font-size-body('xl');
  @include res-aware-element-spacing(
    ('padding-top', 'padding-bottom')
    , 'xs'
  );
  @include res-aware-element-spacing('padding-right', 'xs');

  display: inline-block;
  font-family: 'Quicksand', sans-serif;
}

.absent {
  display: none !important;
}

.site-width-container {
  @include res-aware-element-spacing(('padding-left', 'padding-right'), 'xl');

  flex: 1;
  max-width: $site-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#search-area {
  @include res-aware-element-spacing('padding-top', 'xxl');

  background-color: $bg;
}

body > .ember-view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
