.input-search {
  @include res-aware-element-spacing('margin-bottom', 'xl');

  position: relative;

  input {
    @include per-size('padding-left', '38', '46', '60', '60', '60', 'px');

    background-color: $bg-light;
    border: 1px solid $primary-dark;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline-block;
    max-width: 450px;
    outline: none;
    position: relative;
    z-index: 1;

    //
    // this hardcoded width is just a hack because I don't feel like getting
    //   floats to work well with the absolutely positioned search icon
    //
    width: 65%;
  }

  button {
    @include res-aware-element-spacing(
      ('padding-left', 'padding-right')
      , 'md'
    );

    background: linear-gradient(
      to bottom
      , $primary-dark-gradient 0%
      , $primary-dark 100%
    );
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: $bg-light;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    text-align: left;
    transition: background $duration-short ease-out;
    z-index: 1;

    // for some reason under $screen-xxs-max width, the input and button element
    //   heights go out of sync.
    @media (max-width: $screen-xxs-max) {
      height: 38px;
    }

    &:hover, &:focus {
      background: linear-gradient(
        to bottom
        , $primary-bright-gradient 0%
        , $primary-bright 100%
      );
    }

    &.disabled {
      background: $bg-dark-l3;
      cursor: default;
    }
  }

  .shadow-container {
    left: 0;
    overflow: visible;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 0;

    >.shadow {
      box-shadow: 0px 30px 35px 4px $primary-dark;
      display: inline-block;
      height: 5px;
      width: 90%;
      z-index: 0;
    }
  }

  .spinner {
    @include per-size('top', '8', '8', '8', '10', '10', 'px');
    @include per-size('left', '8', '9', '9', '11', '11', 'px');
    @include per-size('height', '22', '27', '30', '30', '30', 'px');

    display: inline-block;
    position: absolute;
    z-index: 2;
  }

  .search.icon {
    @include per-size(('top', 'left'), '9', '10', '10', '12', '12', 'px');
    @include per-size('height', '20', '26', '28', '28', '28', 'px');

    fill: $primary-dark;
    height: 28px;
    position: absolute;
    z-index: 2;
  }
}
