.pagination {
  @include res-aware-element-spacing('margin-top', 'md');

  > li {
    @include res-aware-font-size-body('md');
    @include per-size(
      ('padding-top', 'padding-bottom')
      , '2', '6', '10', '10', '10', 'px'
    );

    display: inline-block;
    text-align: center;

    + li {
      @include per-size('margin-left', '8', '10', '10', '10', '10', 'px');
    }
  }

  > li:not(.ellipsis) {
    background: linear-gradient(
      to bottom
      , $primary-dark-gradient 0%
      , $primary-dark 100%
    );
    border: 1px solid $primary-dark;
    border-radius: 50%;
    position: relative;
    z-index: 0;

    > span {
      color: $bg;
      position: relative;
      transition: color $duration-short ease-out;
      z-index: 2;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $bg;
      opacity: 0;
      z-index: 1;

      transition: opacity $duration-short ease-out;
    }
    &.active {
      background: $bg;

      > span { color: $fg; }
    }
    &:not(.active):hover {
      cursor: pointer;
      background: $bg;

      &:after {
        opacity: 1;
      }
      > span {
        color: $fg;
      }
    }
  }
}
